header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index: 22;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

header>svg{
    margin: 50px;
}

header>.menu{
    font-size: 80px;
    transform: rotate(90deg);
    margin-right: 100px;
    cursor: pointer;
}

.china{
    z-index: 100;
    position: fixed;
    visibility: visible;
    margin-top: 10vh;
    margin-left: 122ch;
}

.menu-items{
    visibility: hidden;
    position: fixed;
    z-index: 11;
    top: 0;
    display: flex;
    flex-wrap: wrap;
}
.menu-items>.item{
    height: 30vh;
    width: 50vw;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-items>.about{
    background-color: #fff;
}
.menu-items>.about>p{
    transform: rotate(-45deg);
}
.menu-items>.food{
    background-color: #5ea3ec;
}
.menu-items>.food>p{
    transform: rotate(45deg);
}
.menu-items>.retail{
    background-color: #f64444;
}
.menu-items>.retail>p{
    transform: rotate(45deg);
}
.menu-items>.community{
    background-color: #ffb400;
}
.menu-items>.community>p{
    transform: rotate(-45deg);
}
.close-m{
    position: absolute;
    right: 50px;
    font-size: 100px;
    cursor: pointer;
}