.main{}

.main>p{
    margin: 80px;
    margin-top: 400px;
    font-size: 100px;
}

.main>.landing-image{
    width: 100vw;
    overflow: hidden;
    margin-bottom: -100px;
    margin-top: -100px;
}
.main>.landing-image>img{
    transform: rotate(270deg);
}


.main>.sub-section2{
    margin: 80px;
    margin-top: 0;
}
.main>.sub-section2>h1{
    font-size: 200px;
    font-weight: 100;
    margin-bottom: 200px;
}
.main>.sub-section2>.card,
.main>.sub-section2>.card>span,
.main>.sub-section2>.card>span>img{
    width: 100%;
}
.main>.sub-section2>.card>p{
    margin-top: 20px;
    margin-bottom: 80px;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 3px;
}


/* SUB SECTION 3 */
.sub-section3{
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 100px;
}

.sub-section3>h1{
    font-size: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 750px;
    justify-content: space-between;
    font-weight: 200;
}
.sub-section3>h1>#jap{
    -webkit-text-stroke: 2px black;
    font-weight: 800;
    color: rgba(0, 0, 0, 0);
}

.dashed-border{
    height: 30px;
    border-style: dashed;
    border-left: none;
    border-right: none;
}

.events{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    padding: 25px;
}
.events>.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
}
.events>.card>span{
    font-size: 25px;
}
.events>.card>p{
    font-size: 40px;
    letter-spacing: 5px;
    text-align: center;
}
button.event-btn{
    border: none;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 10px;
    border: 2px solid black;
    padding: 20px;
    width: 80%;
    margin: 100px;
    margin-top: 50px;
}
button.event-btn:hover{
    background-color: #000;
    color: #fff;
}

.address{
    font-size: 90px;
    text-align: center;
    margin: 100px;
    padding: 100px;
}
.address>p{
    cursor: pointer;
}

.style-border{
    height: 30px;
    background: repeating-linear-gradient(
        45deg,
        #000,
        #fff 10px,
        #000 10px,
        #fff 20px
      );
    opacity: 0.3;
    margin-left: 100px;
    margin-right: 100px;
}

.offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 500px;
    justify-content: space-around;
}
.offer>p{
    font-size: 70px;
}
.offer>span{
    font-size: 50px;
    border: 2px solid black;
    padding: 20px;
    width: 80%;
}

.connection{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    letter-spacing: 3px;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.socials>.card{
    border-style: dashed;
    margin-bottom: 80px;
    padding: 50px;
}
.socials>.card>img{
    width: 50px;
}

.newsletter{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.newsletter>img{
    width: 50px;
}
.newsletter>input{
    background: rgba(0, 0, 0, 0);
    border: none;
    border: 2px solid black;
    width: 100%;
    height: 60px;
    font-size: 30px;
    padding-left: 50px;
}

footer>p{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
    margin-bottom: 40px;
}

a{
    color: black;
}

.b{
    margin-bottom: -3vh;
    margin-left: 40ch;
}

footer{
    margin-bottom: 50px;
}